@import "tailwindcss";

*{
  font-family: "Manrope", sans-serif;
}

.font-jet{
  font-family: "JetBrains Mono", monospace;
}

.dashed-border {
  border: 2px dashed #1D1D1D;
  border-radius: 0.5rem;
  border-style: dashed;
  border-width: 2px;
  border-color: #1D1D1D;
  border-image-slice: 1;
}

.shortbtn:hover svg{
  fill: #acacac;
}